{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": 0,
    "semi": [2, "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/jsx-closing-bracket-location": [2, {"location": "after-props"}]
  }
}
