{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": "off",
    "semi": ["error", "never"],
    "import/no-extraneous-dependencies": ["warn"],
    "react/jsx-closing-bracket-location": ["warn", "tag-aligned"],
    "react/forbid-prop-types": ["warn"]
  }
}
